body {
  font-family: sans-serif;
  margin: 20px;
  background: #fdfdfd;
  color: #333;
}

h1 {
  color: #f76d3c;
}

.question {
  margin-bottom: 20px;
}

button {
  padding: 10px 15px;
  background-color: #f76d3c;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  opacity: 0.8;
}

/* Modal (Popup) stili */
.modal {
  display: none; /* Gizli başlasın */
  position: fixed; /* Ekranda sabit */
  z-index: 999; /* Üstte görünecek */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Gerekirse scroll */
  background-color: rgba(0, 0, 0, 0.6); /* Saydam siyah arka plan */
}

.modal-content {
  position: relative;
  margin: 15% auto;
  background-color: #fff;
  width: 80%;
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

/* Modal kapatma butonu */
.close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  color: #999;
}

.close-btn:hover {
  color: #f76d3c;
}

/* Sonuç içindeki resim stili */
#result-image {
  max-width: 100%;
  margin-top: 20px;
  border: 2px solid #eee;
  border-radius: 10px;
}
